@model Vidly.ViewModel.MovieFormViewModel
@{
    ViewBag.Title = "MovieForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    label {
        font-family: Roboto;
        font-size: 1.5rem;
        font-weight: 500 !important;
    }
</style>

@{ 
    string headTitle;
    if (ViewContext.RouteData.Values["action"].ToString() == "Edit")
    {
        headTitle = "Edit Movie";
    }
    else
    {
        headTitle = "New Movie";
    }


}


<h2>@headTitle</h2>
<hr />

@using (Html.BeginForm("Save", "Movies"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m=>m.Name)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ReleaseDate)
        @Html.TextBoxFor(m => m.ReleaseDate , "{0 : dd MMM yyyy}" , new { @class = "form-control" })
        @Html.ValidationMessageFor(m=>m.ReleaseDate)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.GenreId)
        @Html.DropDownListFor(m => m.GenreId, new SelectList(Model.Genres, "Id", "Name"), "-- Select Genre --", new { @class = "form-control" })
        @Html.ValidationMessageFor(m=>m.GenreId)  
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.NumberInStock)
        @Html.TextBoxFor(m => m.NumberInStock, new { @class = "form-control" })
        @Html.ValidationMessageFor(m=>m.NumberInStock)

    </div>

    @Html.HiddenFor(m => m.Id)
    @Html.AntiForgeryToken()
    <button class="btn btn-primary">SAVE</button>




}